<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName {{domain}}
  DocumentRoot /var/www/public

  <Directory />
    Options FollowSymLinks
    AllowOverride All
  </Directory>
</VirtualHost>